body {
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 28px;
  white-space: nowrap;
  width: auto;
  margin-bottom: 0;
}
h1 .city {
  margin-bottom: 20px;
}

ul {
  margin: 10px 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

.overview {
  margin: 30px 0px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(32, 33, 36);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}

.weather-temperature .units {
  position: fixed;
  font-size: 14px;
  vertical-align: top;

  /*padding-left: 6px;*/
}

.weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.footer {
  text-align: center;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.8;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
